#cheating {
  width: 100%;

  .main {
    position: relative;
    margin-top: 10vh;
    height: 50vh;
    flex-direction: column;
    position: sticky;
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
  }

  .project-container {
    height: 50vh;
    background-image: url("../../img/cheating/smartmockups_loojf1bw.jpg");
    background-size: cover; /* This will scale the background image to cover the entire container */
    background-position: center; /* Center the background image */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
  }

  .project-title {
    position: absolute;
    padding: 16px;
    font-weight: 800;
    width: 50%;
    font-size: 5rem;
    letter-spacing: -0.2vw;
    line-height: 1;

    @media (max-width: 1172px) {
      font-size: 2rem;
    }
  }

  .overview {
    padding: 100px 20vw 100px 20vw;
    background-color: black;
    color: white;

    .intro__btn {
      display: flex;
    }
    .intro_btn {
      width: 100px;
      height: 40px;
      background: white;
      font-size: 1.2rem;
      cursor: pointer;
      border: 1.5px solid black;
      margin: 30px 10px 30px 0;

      &:hover {
        background-color: black;
        color: white;
        border-color: transparent;
      }
    }

    .overview-name {
      font-weight: 600;
      font-size: 3rem;
    }

    .overview-title {
      font-weight: 600;
      font-size: 2rem;
      margin-top: 30px;
    }

    @media (max-width: 1172px) {
      padding: 0 10vw 10vw 10vw;
    }
  }

  .detail {
    padding: 50px 20vw 50px 20vw;
    text-align: center;

    @media (max-width: 1172px) {
      padding: 0 10vw 0 10vw;
    }

    .detail-name {
      font-weight: 600;
      font-size: 3rem;
      margin-top: 30px;
    }
    .detail-title {
      font-weight: 600;
      font-size: 2rem;
      margin-top: 30px;
    }
    .tilt {
      // text-decoration: underline;
    }

    img {
      width: 40vw;
      margin: 30px 0;
      @media (max-width: 1172px) {
        width: 60vw;
      }
    }

    .center {
      text-align: center;
      font-weight: 600;
    }

    .flex {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      justify-content: center;
      img {
        width: 30vw;
        margin: 10px;
      }
    }

    .full {
      width: 100%;
    }
  }

  .system {
    background-color: rgb(238, 238, 238);
  }
}
